:root {
    --cor-titulo: #3498db;
    --cor-texto-claro: #F6F8FF;
    --cor-texto-escuro: #083D77;
    --cor-texto-escuro-2: #2c3e50;
    --cor-texto-vermelho-insano: #D33F49;
    --cor-texto-verde-insano: #72A98F;

    --cor-fundo-header: #263346;

    --cor-fundo-claro: #ecf0f1;
    --cor-fundo-escuro: #2E4057;
    --cor-fundo-cinza-claro: #618BAD;
    --cor-fundo-vermelho-escuro: #132331;
}